<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>24C101</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>SwiftBar</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.ameba.SwiftBar</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SwiftBar</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>swiftbar</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>536</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>24C94</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>15.2</string>
	<key>DTSDKBuild</key>
	<string>24C94</string>
	<key>DTSDKName</key>
	<string>macosx15.2</string>
	<key>DTXcode</key>
	<string>1620</string>
	<key>DTXcodeBuild</key>
	<string>16C5032a</string>
	<key>INIntentsSupported</key>
	<array>
		<string>GetPluginsIntent</string>
		<string>EnablePluginIntent</string>
		<string>DisablePluginIntent</string>
		<string>ReloadPluginIntent</string>
		<string>SetEphemeralPluginIntent</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>Allow SwiftBar to run plugin in Terminal</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow SwiftBar to access your Calendar. This is required by one of your plugins.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright ©2020-2025 Ameba Labs. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow SwiftBar to access your Reminders. This is required by one of your plugins.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>DisablePluginIntent</string>
		<string>EnablePluginIntent</string>
		<string>GetPluginsIntent</string>
		<string>ReloadPluginIntent</string>
		<string>SetEphemeralPluginIntent</string>
	</array>
</dict>
</plist>
